.socials_container{
    position: absolute;
    top: calc(100% - 50px);
    left: 20px;
    transform: translateY(-100%);
    display: flex;
    flex-direction: column;
    z-index: 3;
}



.linkedin{
    font-size: 2rem;
    cursor: pointer;
    text-decoration: none;
    color: var(--color1);
}

.github{
    font-size: 2.2rem;
    margin: -1.7px;
    cursor: pointer;
    text-decoration: none;
    color: var(--color1);
}

/* responsive */

@media screen and (max-height: 800px ), (max-width: 1200px) {
    .socials_container{
        left: 100%;
        top: 100%;
        transform: translate(-120%, -105%);
    } 
}