.home_page{
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
    background-color: var(--color4);
}

.home_page::-webkit-scrollbar{
    display: none;
}