.projects{
    position: relative;
    min-width: 100%;
    height: 100%;
    scroll-snap-align: center;
    z-index: 1;
}

.background{
    position: absolute;
    top: -10%;
    left: 40%;
    color: var(--color2);
    font-size: 15rem;
    transform: rotate(20deg);
    white-space: nowrap;
    z-index: 0;
}

.biyou{
    font-size: 15rem;
    top: 70%;
    left: 80%;
    transform: rotate(-20deg);
}

.content{
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 1600px;
    height: 100%;
    padding: 0 80px;
    overflow-y: auto;
    z-index: 2;
    scrollbar-width: none;
}

.content::-webkit-scrollbar{
    display: none;
}

.content h2{
    margin-top: 115px;
    color: #fff;
    font-size: 3rem;
    font-weight: 600;
}

.projects_list{
    display: flex;
    flex-direction: column;
    gap: 150px;
    width: 100%;
    height: 100%;
}

.project_list_padding{
    width: 100%;
    min-height: 50px;
}

@media screen and (max-width: 1200px) {
    .background{
        top: -10%;
        left: 40%;
        font-size: 10rem;
    }

    .biyou{
        font-size: 10rem;
        top: 70%;
        left: 80%;
    }

    .content h2{
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 860px){
    .content{
        padding: 0 20px;
    }
}

@media screen and (max-width: 700px) {
    .content h2{
        font-size: 2rem;
    }
}