.projects{
    position: relative;
    min-width: 100%;
    height: 100%;
    padding-top: 65px;
    scroll-snap-align: center;
    z-index: 1;
}

.projects::after{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    transform: translateY(-100%);
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to top, var(--color4), transparent);
    z-index: 2;
}

.content{
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 1600px;
    height: 100%;
    padding: 0 80px;
    overflow-y: auto;
    z-index: 2;
    scrollbar-width: none;
}

.content::-webkit-scrollbar{
    display: none;
}

.content h2{
    margin-top: 50px;
    color: #fff;
    font-size: 3rem;
    font-weight: 600;
}

.projects_list{
    display: flex;
    flex-direction: column;
    gap: 100px;
    width: 100%;
    height: 100%;
}

.project_list_padding{
    width: 100%;
    min-height: 50px;
}