.skills{
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-width: 100%;
    height: 100%;
    padding-top: 65px;
    scroll-snap-align: center;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    max-height: 90%;
    max-width: 1600px;
    padding: 0 80px;
    margin-top: 50px;
    z-index: 2;
    overflow-y: scroll;
    scrollbar-width: none;
}

.content::-webkit-scrollbar{
    display: none;
}

.content h2{
    color: #fff;
    font-size: 3rem;
    font-weight: 600;
}

.skills_list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    max-height: 100%;
}