:root{
    --color1: #ff0044;
    --color2: rgba(71, 2, 20, 0.5);
    --color3: #82655b;
    --color4: #111111;

    --logo-font: 'Sawarabi Mincho', serif;
    --main-font: 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
}